Llama-3.2-3B/*.safetensors
model/*.safetensors
Llama-3.2-3B/
model/
finetuned_llama/
list.txt
Llama-3.2-3B/
music.csv
datasetBalanced.csv
dataset.csv
finetuned_Wcsa
finetuned_t5_model
camera_attic_on_rows.csv
datasetNew.csv
music.txt
Llama-3.2-1B
distilled_student_model
music_unsloth.ipynb
finetuned_llama321_4bit
finetuned_llama321_8bit
finetuned_llama321_merged